.container-services {
  margin-top: 4rem;
  margin-bottom: 6rem;
  padding: 1rem 2%;
  position: relative;
  width: 100vw;
}

.container-services::before {
  background-image: url('../../../public/pattern-services.jpg');
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  opacity: .5;
  z-index: -1;
}

.container-services h3 {
  border-bottom: .2rem solid var(--color-green);
  margin-bottom: 2rem;
  text-align: center;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.services-left {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.services-left .service {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.service h4 {
  font-size: 2rem;
  color: var(--subtitle);
}

.services-left .line {
  content: '';
  background: linear-gradient(90deg,#1C1C1C 0%, #20A6FF 50%, #252525 0%);
  width: 100%;
  height: .2rem;
}

.services-left .service p {
  line-height: 2rem;
  color: var(--text);
}

.services-right {
  display: flex;
}

.image-service {
  object-fit: contain;
  border-radius: 1rem;
  width: 100%;
}

.whats {
  background-color: var(--color-greenlight);
  padding: 2rem;
  color: var(--color-bg);
  cursor: pointer;
}

@media screen and (min-width: 48rem) {
  .services {
    flex-direction: row;
  }

  .services-left {
    width: 60%;
  }
}
