.container-services {
  margin-top: 4rem;
  margin-bottom: 6rem;
  padding: 0 2%;
}

.container-services h3 {
  border-bottom: .2rem solid var(--color-green);
  margin-bottom: 2rem;
  text-align: center;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.services-left {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.services-left p {
  line-height: 2rem;
}

.services-right {
  display: flex;
}

.image {
  object-fit: contain;
  border-radius: 1rem;
}

.whats {
  background-color: var(--color-greenlight);
  padding: 2rem;
  color: var(--color-bg);
  cursor: pointer;
}

@media screen and (min-width: 48rem) {
  .services {
    flex-direction: row;
  }
}
