.container {
  margin-top: 4rem;
}

.hero {
  max-width: 130rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
}

.left h1 {
  font-size: 3.2rem;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: var(--color-green);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.image {
  width: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

.whats {
  background-color: var(--color-greenlight);
  padding: 2rem;
  color: var(--color-bg);
  cursor: pointer;
}

@media screen and (min-width: 48rem) {
  .hero {
    flex-direction: row;
  }

  .left {
    width: 40%;
  }

  .left h1 {
    font-size: 6rem;
  }

}
