.container-brands {
  margin-top: 4rem;
  background: linear-gradient(90deg, rgba(40, 39, 39, 0) 20%, #2e2c2c 50%, rgba(42, 41, 41, 0) 80%);
  opacity: 0.7;
  width: 100%;
}

.container-brands .brands {
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: all .5s ease-in-out;
  animation: animateBrands 5s cubic-bezier(.12, .20, .45, .25) infinite alternate;
  width: 100%;

  &:hover {
    animation-play-state: paused;
  }
}

.container-brands .brands .brand {
  object-fit: cover;
  color: var(--text);
}

@keyframes animateBrands {
  from {
    transform: translateX(0rem);
  }

  to {
    transform: translateX(100vw);
  }
}

@media screen and (max-width: 48rem) {
  .container-brands .brands {
    animation: none;
    overflow-x: auto;
  }
}
