.container-depoiments {
  margin-top: 4rem;
}

.container-depoiments h3 {
  text-align: center;
  margin-bottom: 2rem;
}

.container-depoiments .depoiments {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.depoiments .box-depoiments {
  width: 100%;
  display: block ruby;
  align-items: center;
  overflow-x: hidden;
  transition: all 1s ease-in-out;

}

.depoiments .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border: .1rem solid var(--blue);
  border-radius: 100%;
  color: var(--text);
  padding: 1rem;
  cursor: pointer;
}

.depoiments .depoiment {
  width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  border: .1rem solid rgba(75, 73, 73, 80%);
  padding: 2rem;
  margin-left: 0;
  transition: all 1s ease-in-out;
}

.depoiment.active {
  margin-left: -40rem;
}

.depoiment.next {
  margin-left: -40rem;
}

.depoiment.prev {
  margin-left: 40rem;
}

.depoiments .depoiment p {
  color: var(--text);
}

.depoiments .depoiment span {
  color: var(--blue);
}

@media screen and (min-width: 48rem) {
  .depoiments .box-depoiments {
    grid-template-columns: repeat(2, 1fr);
  }
}
