.container-jobs .jobs {
  display: grid;
  grid-template-columns: 1fr;
}

.container-jobs h3 {
  color: var(--subtitle);
}

@media screen and (min-width: 48rem) {
  .container-jobs .jobs {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 64rem) {
  .container-jobs {
    margin-top: 6rem;
  }

  .container-jobs .jobs {
    grid-template-columns: repeat(3, 1fr);
  }
}
