.container-header {
  position: relative;
  width: 100vw;
  height: 90vh;
}

.container-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../public/pattern.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: -2;
}

.light-left {
  position: absolute;
  top: 2rem;
  left: -2rem;
  mix-blend-mode: overlay;
  filter: blur(30px);
  z-index: -1;
}

.light-right {
  position: absolute;
  top: 0;
  right: 0;
  filter: blur(60px);
  opacity: 0.1;
}

.header {
  max-width: 130rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2%;
}

.box-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-header .box-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-top: 6rem;
}

.box-hero .whats {
  background-color: var(--blue);
  padding: 1rem 2rem;
  color: var(--text);
  border-radius: 1rem;
}

.container-header .title h1 {
  font-size: 5rem;
  text-align: center;
  background: linear-gradient(0deg, var(--text) 0%, #A9A9A9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: titleTo 1s ease-in-out;
}

.header p {
  color: var(--text);
  text-align: center;
}

.container-header .code {
  mix-blend-mode: overlay;
  filter: blur(3px);
  pointer-events: none;
}

.menu {
  display: flex;
  align-items: center;
}

.icon-menu {
  color: var(--color-green);
  cursor: pointer;
}

.open-menu {
  display: flex;
}

.links {
  display: none;
  align-items: center;
  gap: 2rem;
  transition: all .5s ease-in-out;
}

.menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-bg);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
  padding: 2rem;
}

.icon-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.menu-links li span {
  color: var(--text);
  transition: all .5s ease-in-out;
}

.links li span:hover {
  color: var(--blue);
}

@media screen and (min-width: 48rem) {
  .links {
    display: flex;
  }

  .menu-links {
    position: sticky;
    background-color: transparent;
    flex-direction: row;
    box-shadow: none;
  }

  .icon-close {
    display: none;
  }

  .icon-menu {
    display: none;
  }
}

@keyframes titleTo {
  from {
    opacity: 0;
    transform: translateY(-10rem);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
