.container-footer {
  padding: 2rem;
  margin-top: 6rem;
  position: relative;
}

.container-footer.container-footer::before {
  content: '';
  background-image: url('../../../public/ligth-right.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 100%;
  border-radius: 100%;
  filter: blur(40px);
  opacity: 0.1;
  pointer-events: none;
}

.container-footer .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  color: var(--text);
}

.footer .footer-left {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left p {
  color: var(--text);
}

.left h2 {
  color: var(--color-bg);
}

.footer .whats {
  background-color: var(--blue);
  padding: 1rem 2rem;
  color: var(--text);
  border-radius: 1rem;
}
