.container {
  background-color: var(--color-green);
  padding: 2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-bg);
}

.left h2 {
  color: var(--color-bg);
}
